@model List<TaskTrackingApp.Models.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2 class="my-4">Projects</h2>

<a href="/projects/create" class="btn btn-info text-white">Create Project</a>

<table class="table table-light">
    <thead>
        <tr>
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Date of Start</th>
            <th>Availability Status</th>
            <th>Category ID</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.ProjectID</td>
            <td>@item.ProjectName</td>
            <td>
                @if (item.DateOfStart.HasValue)
                {
                    @item.DateOfStart.Value.ToString("d/M/yyyy");
                }
            </td>
            <td>@item.AvailabilityStatus</td>

            <td>
                @if (item.Category != null)
                {

                    @item.Category.CategoryName;
                }
            </td>
            <td>
                <a href="/projects/details/@item.ProjectID" class="btn btn-info text-white">View</a>
                <a href="/projects/edit/@item.ProjectID" class="btn btn-info text-white">Edit</a>
                <a href="/projects/delete/@item.ProjectID" class="btn btn-info text-white">Delete</a>

            </td>
        </tr>
        }
    </tbody>
</table>
